@rendermode InteractiveServer


<h1>@SurveyData.Title</h1>
@for (int i = 0; i < SurveyData.Questions.Length; i++)
{
	var question = SurveyData.Questions[i];
	<EditForm Model="SurveyAnwsers">
		<h2>@question.Text</h2>
		@for (int j = 0; j < question.Options.Length; j++)
		{
				var option = question.Options[j];
				<h3>@option</h3>
				string id = $"SurveyCheckbox-{i + "-" + j}";
				<label for="@id"></label>
			<InputCheckbox id="@id"></InputCheckbox>
		}
	</EditForm>
}


